%h1 Liste des membres

%table
  %tr
    %th Nom
    %th Prenom
    %th Promo
    %th Email
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.nom
      %td= user.prenom
      %td= user.promo
      %td= user.email
      -# %td= link_to 'Show', user
      -# %td= link_to 'Edit', edit_user_path(user)
      -# %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
